h2, h3{
    color: #EDCB2C ;
    text-align: center;
    margin: 5rem 0;
}
p{
    font-size: 3rem;
        line-height: 5rem;
        text-align: justify;
}
span{
    font-size: 3rem;
    font-weight: bold;
}
h3{
    font-size: 3rem;
}
.about{
    padding: 0 10rem;
}
.education-card{
    border-left: 5px solid grey;
    padding-left: 3rem;
    margin: 1rem;
    border-radius: 5px;
   border-bottom: 1px solid rgb(216, 209, 209);
}
