@use "../../styles/variables" as *;
h2{
  padding-top: 15rem;
}
.projekt-seite {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;

  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}
  // 📱 Handy
  @media (max-width: $mobile) {
    h3{
         padding-top:  3rem;
    }
    h2{
        padding-top: 9rem;
    }
  }