@use "../../styles/variables" as *;
.skills-page{
background-color: #F8FAFC ;
padding: 0 15rem 0 5rem ;
min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
   
    p,b{
        font-size: 3rem;
        line-height: 5rem;
    }
    b{
        background-color: #EDCB2C;
        padding: 0.5rem;
   
    }
   // 📱 Handy
  @media (max-width: $mobile) {
    padding: 0 3rem 0 3rem ;
    gap:2rem;
    p,b{
        font-size: 1rem;
        line-height: 5rem;
    }
      h2{
        padding-top: 9rem;
    }
  }

  // 📱 Tablet
  @media (max-width: $tablet) {

     p,b{
        font-size: 2rem;
        line-height: 4rem;
    }
  

  }
}