@use "../../styles/variables" as *;

.contact-page{
    
    padding-top: 10rem;
    background-color: #F8FAFC;
   min-height: 100vh;
   p{
    color: #DA6763;
   }

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
    font-size: 15rem;
    &__überschrift{
        margin: 0;
        padding: 5rem 0 0 0;
       
    }
    &__alles{
        display: flex;
        justify-content: center;
      flex-wrap: wrap;
        gap:3rem;
       
    }
    &__content{
        display: flex;
      
        flex-direction: column;
        min-width: 40%;
        justify-content: start;
       padding-top: 2rem;
        gap: 1rem;
      
        h4{
            color:#1B242F;
            font-size: large;
        }


    }
  
    &__section{
       
        display: flex;
        
       
       
        align-items: center;
        gap: 1rem;
        padding: 1rem 3rem;
        
        line-height: 3rem;
        
      
        
      
    }
    &__icon{
        margin-top: 0.5rem;
      align-self: start;
      font-size: 5rem;
      color: #2b6ab3;
      border-radius: 0.2rem;
  
    
       padding: 1rem 1.5rem;
        background-color: #E6F4F7;
       


    }
    &__span{
        font-size: 2rem;
        font-weight: normal;
        color: #1B242F;
    }
    &__profiles-list{
        display: flex;
        justify-content: center;
        li{
            list-style: none;
            a{
                font-size: 4rem;
                padding-right: 1rem;
                color: #1B242F;
                &:hover{
                    color: #2b6ab3;
                }
            }
        }
    }
&__name-email{
display: flex;
justify-content:space-between;
width: 100%;
gap: 1rem;

}
&__form{

    padding: 3rem;
 
border: 1px solid rgb(192, 222, 240);
    border-radius: 1rem;
   max-width: 50%;
   min-width: 40%;
    background-color: #F8FAFC;
    display: flex;
    flex-direction: column;
    
   align-items: center;
   input, textarea{
    margin: 1rem 0;
   padding: 1rem;
    border: none;
    border-radius: 1rem;
    width: 100%;
  
    font-size: 3rem;
   }
}

&__form-button{
    margin-top: 1rem;
    padding: 0.5rem 0;
    border-radius: 1rem;
    width: 100%;
    border: none;
    background-color: #2B6AB3;
    color:white;
    &:hover{
        background-color: rgb(192, 222, 240);
    }
    &:focus{
        background-color: rgb(132, 193, 230);
    }}


// 📱 Handy
  @media (max-width: $mobile) {
    padding-top: 3rem;
 
    font-size: 7rem;
    .contact-page__form{
        min-width: 70%;
        margin-bottom: 4rem ;
       .contact-page__name-email{ font-size: 1em; }                     
    
    input, textarea{
        font-size: 1rem;
    }
    
    }
  }
}