header{
    font-size: 15rem;
    background-color: #1B242F;
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding: 0 3rem;
    .logo{
        height: 4rem;
    }
  
    nav{
        padding: 1rem;
       
    ul{
        display: flex;
        justify-content: center;
        gap:2rem ;
        li{
            list-style: none;
            .link{
                text-decoration: none;
                color: white;
                &:hover{
                    color: #da6763;
                }

            }
            .active{
                color: #da6763;
            }
        }
    }
}}