.card{
border: 1px solid rgb(192, 222, 240);
    box-shadow: 3px 3px 23px -13px rgba(66, 68, 90, 1);
    border-radius: 1rem;
     overflow: hidden; 
     &:hover{
        border: 1.5px solid rgb(149, 211, 250);
     }
       &:hover h3{
        color:#2B6AB3;
    }
    &:hover p{
         border-top: 5px double #2B6AB3
        };
.project-link{
    text-decoration: none;
 

 color: #1B242F;
 position: relative;
 transition: transform 0.5s ease, background-color 0.5s ease;
 h3{
    margin:1rem;
    
  
 }


    
    .project{
        
    
       max-width: 38rem;
       &:hover img {
  transform: scale(1.1);
}

       
   
  

}
img{
    width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
        border-top-left-radius: 1rem;
border-top-right-radius: 1rem;
 
   
    }
p{
    border-top: 5px double rgba(66,68,90,0.39);
    margin-top: 2rem;
    line-height: 2.5rem;
   
 padding:1rem 2rem ;
        font-size: 1.5rem;
   
    }
.icon-link{
    display: inline-block;
    font-size: 5rem;
    position: absolute;
    top: 45%;
    left:45%;

}
}}